* {
    padding: 0;
    margin: 0;
}


.navbar{
    height: 5.8rem;
    display: flex;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    justify-content: space-around;
    background-color: white;
}

.mycart button{
    color: black;
}

.logo {
    background-image: url(avacodo.png);
    background-size: cover;
    height: 5rem;
    width: 7.3rem;
}

.search input {
    height: 2.2rem;
    padding: 0.3rem;
    width: 40rem;
    border: none;
    outline: none;
}

.search{
    border: 0.05rem solid black;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 10rem;
}

.butt {
    border-radius: 0.5rem;
    height: 2.2rem;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem;
    border: none;
    background-color: #e9edf1;
    width: 10rem;
}

.location select {
    border-radius: 0.5rem;
    height: 2.2rem;
    padding: 0.3rem;
    border: none;
    background-color: #e9edf1;
    width: 8rem;
}

.main-body {
    background-color: #EAF4F4;
}

.fruits {
    background-color: #c7f9cc;
    height: 4rem;
    padding: 0.5rem 0 0.5rem 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url(sale.jpg);
    background-size: contain;
    margin-top: 0.5rem;
}

.category {
    background-color: #f7f7f7;
    padding: 0.9rem 0.6rem 1.1rem 0.6rem;
    text-align: center;
    border-bottom: 0.2px solid black;
}

.card {
    margin: 2.5rem;
    opacity: 1;
}

.card img{
    height: 15rem;
}

.cat-a {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-body p select {
    width: 4.5rem;
    padding: 0.3rem;
    outline: none;
    border-radius: 0.5rem;
    margin-right: 0.3rem 
}

.card-text {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
}

.cate {
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
}

.butt:hover{
    background-color: #ECF39E;
    color: black;
}

.foot3 {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    background-color: #e9edf1;
}

.foot3 ul li {
    list-style-type: none;
    font-size: medium;
}

.boxi1 {
    height: 30px;
    width: 227px;
    margin: 0 24px 32px 0;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem ;
    padding-bottom: 1rem;
}

.boxi1 div{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: #cad2c5;
}

.social-media {
    display: flex;
    justify-content: center;
    background-color: #e9edf1;
    padding-bottom: 0.6rem;
}

.veggi {
    height: 28rem;
}

.coupons {
    display: flex;
    justify-content: space-around;
}

.btn-sm {
    border: 0.3px dashed black;
}

.btn-sm:hover{
    background-color:#e9edf1 ;
    border: 1.2px dashed black;
}

.happy-customer{
    display: flex;
    justify-content: space-between;
    background-image: url(fruits);
    background-size: contain;
    padding: 0.7rem 0 0.7rem 0;
    /* opacity: 0.5; */
}

.customer-photo{
    height: 15rem;
    width: 15rem;
    background-color: #e9edf1;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 5.5px;
}

.customer-photo div{
    width: 90%;
    height: 99%;
    background-color: white;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer-photo img{
   height: 15 rem;
}